/* layout */

html,
body,
.resizer {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	font-family: 'font', 'Courier New', Courier, monospace;
	color: #fdcd00;
}

html {
	overflow: auto;
	background: black;
}

.resizer {
	overflow: auto;
}

/* play button */

.resizer #play {
	display: flex;
	align-items: center;
	justify-content: center;
	width: min-content;
	height: min-content;
	background: transparent;
	color: inherit;
	font-family: inherit;
	border: none;
	cursor: pointer;
	white-space: pre-wrap;
}

/* loader */

.resizer p {
	width: initial !important;
	height: initial !important;
	text-align: center;
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: pre-wrap;
	font-variant-ligatures: none;
	font-variant-numeric: tabular-nums;
	padding: 0;
	margin: 0;
}

.resizer>.resizerChild>* {
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	width: inherit !important;
	height: inherit !important;
	font-size: inherit !important;
}

/* game */
canvas {
	cursor: none;
}

@media screen and (min-width: 256px) and (min-height: 256px) {

	/* pixelated */
	canvas {
		image-rendering: pixelated;
	}
}

@font-face {
	font-family: 'font';
	font-style: normal;
	font-weight: normal;
	src: url('./font/pixChicago.woff2') format('woff2');
}
